{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
   <!-- basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- mobile metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- site metas -->
   <title>Dashboard</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   <!-- bootstrap css -->
   <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
   <!-- style css -->
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
   <!-- Responsive-->
   <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
   <!-- fevicon -->
   <link rel="icon" href="{% static 'images/fevicon.png' %}" type="image/gif" />
   <!-- Scrollbar Custom CSS -->
   <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
   <!-- Tweaks for older IEs-->
   <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/{% static 'css/font-awesome.css">
   <!-- owl stylesheets -->
   <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
   <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
      media="screen">
</head>

<body>
   <!-- header section start -->
   <div class="header_section">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
         <div class="logo"><a href="index.html"><img src="{% static 'images/logo.png' %}"></a>
            {% if user.is_authenticated %}
            <nav><br>
               <h4>Welcome, {{user.username}}!</h4>
            </nav>
            {% endif %}
         </div>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
               {% if user.is_authenticated %}
               <li class="nav-item">
                  <a class="nav-link" href="{% url 'index' %}">Medicals</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="{% url 'index' %}">Home</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="news.html">News</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="{% url 'booking' %}">Appointments</a>
               </li>
               <li class="nav-item active">
                  <a class="nav-link" href="contact.html">Profile</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="#"><img src="{% static 'images/search-icon.png' %}"></a>
               </li>
            </ul>
            {% else %}
            <li class="nav-item">
               <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="news.html">News</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="{% url 'booking' %}">Bookings</a>
            </li>
            <li class="nav-item active">
               <a class="nav-link" href="contact.html">Contact Us</a>
            </li>
            <li class="nav-item">
               {% endif %}

         </div>
      </nav>
   </div>

   <div class="">
      {% if messages %}
      {% for message in messages %}
      <h3>{{message}}</h3>
      {% endfor %}
      {% endif %}
   </div>


   -->


   {% if user.is_authenticated %}
   <div class="shadow p-4 mb-5 bg-body bg-body rounded text-black  m-5 ">
      <h2 class="">Patient Info:</h2>
      <ul class="list-group fs-4 mt-3">
         <li class="list-group mt-2">First Name: {{ user.first_name }}</li>
         <li class="list-group mt-2">Last Name: {{ user.last_name }}</li>
         <li class="list-group mt-2">Username: {{ user.username }}</li>
      </ul>
   </div>

   {% if appointments.count > 0 %}
   <div class="mt-5 ">
      <h1 class=" ms-5">Appointments:</h1>
      <div class="shadow p-4 mb-3 bg-body bg-body rounded text-black  m-5">
         {% for appointment in appointments %}
         <div class="list-group fs-4 border p-3 mb-3">
            <p class="list-group mt-2">Day: {{ appointment.day }}</p>
            <p class="list-group mt-2">Time: {{ appointment.time }}</p>
            <p class="list-group mt-2">Doctor:Dr. {{ appointment.doctor.first_name }} {{appointment.doctor.last_name}}
               {{appointment.doctor.specialty}}</p>
            <p class="list-group mt-2">Service: {{ appointment.service }}</p>
            <div class="mt-3 mb-2">
               <a class="btn btn-primary rounded-3 p-2" href="{% url 'userUpdate' appointment.id %}">Edit
                  Appointment</a>
            </div>
            {% endfor %}

            {% endif %}
            {% else %}
            <div class="shadow p-4 mb-5 bg-body bg-body rounded text-black  m-5">
               <h1 class="p-2  ms-3">First Sign in!</h1>
               <a href="{% url 'login' %}" class="btn btn-primary text-white">Sign in</a>
            </div>

            {% endif %}


            <!-- contact section end -->
            <!-- footer section start -->
            <div class="footer_section layout_padding">
               <div class="container">
                  <div class="row">
                     <div class="col-lg-3 col-sm-6">
                        <div class="footer_logo"><a href="index.html"><img
                                 src="{% static 'images/footer-logo.png' %}"></a></div>
                        <h1 class="adderss_text">Contact Us</h1>
                        <div class="map_icon"><img src="{% static 'images/map-icon.png' %}"><span
                              class="paddlin_left_0">Page when looking at its</span></div>
                        <div class="map_icon"><img src="{% static 'images/call-icon.png' %}"><span
                              class="paddlin_left_0">+7586656566</span></div>
                        <div class="map_icon"><img src="{% static 'images/mail-icon.png' %}"><span
                              class="paddlin_left_0">volim@gmail.com</span></div>
                     </div>
                     <div class="col-lg-3 col-sm-6">
                        <h1 class="adderss_text">Doctors</h1>
                        <div class="hiphop_text_1">There are many variations of passages of Lorem Ipsum available, but
                           the majority have suffered alteration in some form, by injected humour,</div>
                     </div>
                     <div class="col-lg-3 col-sm-6">
                        <h1 class="adderss_text">Useful Links</h1>
                        <div class="Useful_text">There are many variations of passages of Lorem Ipsum available, but the
                           majority have suffered ,</div>
                     </div>
                     <div class="col-lg-3 col-sm-6">
                        <h1 class="adderss_text">Newsletter</h1>
                        <input type="text" class="Enter_text" placeholder="Enter your Emil" name="Enter your Emil">
                        <div class="subscribe_bt"><a href="#">Subscribe</a></div>
                        <div class="social_icon">
                           <ul>
                              <li><a href="#"><img src="{% static 'images/fb-icon.png' %}"></a></li>
                              <li><a href="#"><img src="{% static 'images/twitter-icon.png' %}"></a></li>
                              <li><a href="#"><img src="{% static 'images/linkedin-icon.png' %}"></a></li>
                              <li><a href="#"><img src="{% static 'images/instagram-icon.png' %}"></a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- footer section end -->
            <!-- copyright section start -->
            <div class="copyright_section">
               <div class="container">
                  <p class="copyright_text">2023 All Rights Reserved. Design by <a href="https://html.design">Free html
                        Templates</a></p>
               </div>
            </div>
            <!-- copyright section end -->
            <!-- Javascript files-->
            <script src="{% static 'js/jquery.min.js' %}"></script>
            <script src="{% static 'js/popper.min.js' %}"></script>
            <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
            <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
            <script src="{% static 'js/plugin.js' %}"></script>
            <!-- sidebar -->
            <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
            <script src="{% static 'js/custom.js' %}"></script>
            <!-- javascript -->
            <script src="{% static 'js/owl.carousel.js' %}"></script>
            <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>